<ion-header>
  <ion-toolbar class="ion-toolbar-mod" style="--background: #fdf0e0 !important">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="eac1" style="color: #F19438;"></ion-back-button>
    </ion-buttons>

    <ion-title style="color: #F19438;">Edit EAC 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col size="12" style="padding: 0 20px 0 20px;">
      <ion-item style="margin: 0 10px 20px 0;">
        <ion-label position="floating">Building Name</ion-label>
        <ion-input [(ngModel)]="building"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" style="padding: 0 20px 0 20px;">
      <ion-item style="margin: 0 10px 20px 0;">
        <ion-label position="floating">Month</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="month">
          <ion-select-option value="January">January</ion-select-option>
          <ion-select-option value="February">February</ion-select-option>
          <ion-select-option value="March">March</ion-select-option>
          <ion-select-option value="April">April</ion-select-option>
          <ion-select-option value="May">May</ion-select-option>
          <ion-select-option value="June">June</ion-select-option>
          <ion-select-option value="July">July</ion-select-option>
          <ion-select-option value="August">August</ion-select-option>
          <ion-select-option value="September">September</ion-select-option>
          <ion-select-option value="October">October</ion-select-option>
          <ion-select-option value="November">November</ion-select-option>
          <ion-select-option value="December">December</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="12" style="padding: 0 20px 0 20px;">
      <ion-item style="margin: 0 10px 20px 0;">
        <ion-label position="floating">Electrical Consumption</ion-label>
        <ion-input type="number" [(ngModel)]="electric_consump"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" style="padding: 0 20px 0 20px;">
      <ion-button class="btn-submit ani-appear mt-5" type="button" (click)="updateBuilding()" expand="block" fill="outline">
        <i class="fa fa-sign-in-alt" style="margin-right: 5px;"></i>
        Submit
      </ion-button>
    </ion-col>
    <ion-col size="12" style="padding: 10px 20px 0 20px;">
      <ion-button class="btn-submit ani-appear mt-5" type="button" color="danger" (click)="deleteBuilding()" expand="block" fill="outline">
        <i class="fa fa-sign-in-alt" style="margin-right: 5px;"></i>
        Delete
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>