<ion-header>
  <ion-toolbar class="ion-toolbar-mod" style="--background: #fdf0e0 !important">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #F19438;"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/eac1-add']">
        <ion-icon style="color: #F19438;" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="color: #F19438;">EAC 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: white;">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>

    <ion-list-header>January</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'January'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>

    <ion-list-header>February</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'February'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>

    <ion-list-header>March</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'March'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>
    <ion-list-header>April</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'April'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>
    <ion-list-header>May</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'May'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>
    <ion-list-header>June</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'June'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>
    <ion-list-header>July</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'July'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>
    <ion-list-header>August</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'August'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>
    <ion-list-header>September</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'September'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>
    <ion-list-header>October</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'October'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>
    <ion-list-header>November</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'November'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>
    <ion-list-header>December</ion-list-header>
    <div *ngFor="let building of buildings; index as i">
      <ion-item *ngIf="building.month == 'December'" routerDirection="forward" [routerLink]="['/eac1-edit/' + building.id]">
        <ion-avatar slot="start">
          <img src="assets/alone.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{ building.building }}</h2>
        </ion-label>
      </ion-item>
    </div>

  </ion-list>

</ion-content>

<ion-tab-bar slot="bottom" style="--border: 0;">

  <ion-tab-button tab="schedule" (click)="goHome()">
    <ion-icon style="color: #F19438;font-size: 23px;" (click)="goHome()" name="home-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="about" (click)="goHistory()">
    <ion-icon style="color: #F19438;font-size: 23px;" (click)="goHistory()" name="albums-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
