/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$font-family: 'Poppins';
$animation-appear: fadein 2s;
$icon-color: #3880ff;
$caralight-color: #bfebff;
$caranormal-color: #1169A7;
$form-header-clr: #beedff;

p,
h5,
h2 {
  font-family: $font-family;
}

qrcode#specqr div.qrcode canvas {
  height: auto !important;
  width: 100% !important;
}

.alert-radio-label.sc-ion-alert-md {
  color: #262626;
}

.alert-radio-label.sc-ion-alert-ios {
  color: #262626;
}

.my-custom-class .alert-wrapper {
  background: #fff;
}


.swal2-html-container {
  --width: inherit !important;
}

.caramark {
  font-size: 11px;
  color: rgb(37, 37, 37);
  font-weight: 100;
  opacity: 0.5;
}

.select-icon {
  position: absolute;
  right: 0;
}

.pwredby {
  // margin-right: 3px;
  margin-bottom: 0;
  position: relative;
  top: 14px;
  font-size: 11px;
  color: #252525;
  display: block;
}

.caralogoM {
  display: inline;
  width: 65px;
  position: relative;
  top: 15px;
  right: -3px;
}

.pwrDiv {
  // margin-top: 65vh;
  position: fixed;
  bottom: 0;
  right: 107px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: -1px;
}

.buffer-circles {
  --background-image: radial-gradient(ellipse at center, rgb(92 216 179 / 65%) 0%, rgb(92 216 179 / 67%) 30%, transparent 30%) !important;
}

.swiper-wrapper {
  padding-bottom: 18px;
}

.ion-toolbar-mod {
  --background: #fff !important;
  color: #000 !important;
  padding-bottom: 10px;
  --opacity: none !important;
  --border-color: #fff !important;
}

.text-white {
  color: #fff !important;
}

.text-dark {
  color: #000 !important;
}

.popupheader {
  --background: linear-gradient(101deg, rgba(17, 105, 167, 1) 0%, rgba(115, 197, 255, 1) 100%) !important;
}

.header-md::after {
  background-image: none !important;
}

ion-toolbar ion-title {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  color: #000;
}

.modalpopup-item {
  --padding-start: 5px !important;
  --border-color: #fff !important;
}

.modalpopup-textarea {
  margin-top: 5px;
  --background: #f6f8f9 !important;
  --padding-start: 10px !important;
  font-size: 15px !important;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 !important;
}

.alert {
  --width: 350px;
  --height: 350px;
  --border-radius: 8px;
}

.starttimemodal {
  @extend .alert;
  --height: 360px;
}

// centering container
.center-element {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.delete-btn {
  --background: rgba(255, 255, 255, 0) !important;
  --background-activated: rgba(255, 255, 255, 0);
  position: relative;
  top: -2px;
  right: 3px;
  opacity: 0.5;
}

.delete-ico {
  font-size: 16px;
  color: #a4a4a4 !important;
}

.delete-ico2 {
  font-size: 16px;
  color: #fff !important;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.profile-img-card {
  border-radius: 50%;
  width: 40px;
  display: inline-block;
}

.searchbar-mod {
  margin-top: -8px;
  --background: #bfebff57 !important;
  --box-shadow: none !important;
}

.searchbar-search-icon.sc-ion-searchbar-md {
  color: $caranormal-color !important;
  pointer-events: none;
}

.menu-clr {
  color: $caranormal-color !important;
}

.text-cara1 {
  color: $caranormal-color !important;
}

.md .text-cara2 {
  color: $caranormal-color !important;
  padding-top: 0 !important;
}

.ios .text-cara2 {
  color: #1169A7 !important;
  padding-top: 0 !important;
}

.title-space-top {
  margin-top: -1%;
}

.ani-appear {
  animation: $animation-appear;
}

.ani-disappear {
  animation: disappear 2s;
  bottom: 15%;
  position: relative;
}

.ani-leftright {
  animation: leftright 1s;
  bottom: 15%;
  position: relative;
}

textarea{
  --border-color: unset;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    left: 0;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 0;
  }
}

@keyframes leftright {
  0% {
    left: 100;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 0;
  }
}

@keyframes downtoup {
  0% {
    bottom: 0;
  }

  50% {
    bottom: -4%;
  }

  100% {
    bottom: -2%;
  }
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-normal {
  font-weight: 500 !important;
}

.font-weight-thin {
  font-weight: 200 !important;
}

//Specific platform scss below, md : android, ios : ios

.md ion-item.item-has-focus {
  --highlight-background: rgb(45 211 111 / 0%) !important;
}

.md ion-title {
  padding-top: 12px;
}

.md ion-card {
  margin: 24px 16px 24px 16px;
  border-radius: 8px;
}

.md ion-badge {
  border-radius: 10px;
}

.searchbar-mod .sc-ion-searchbar-md {
  // --background: #bfe6ff57 !important;
  --background: rgb(191 235 255 / 34%) !important;
}

.md ion-title.popuptitle {
  padding-top: 0px !important;
}

.viewcardoption .sc-ion-popover-md {
  --width: 133px !important;
  --height: 115px !important;
}

.viewcardoption .sc-ion-popover-ios {
  --width: 133px !important;
  --height: 95px !important;
}

.collabpopup .popover-content.sc-ion-popover-md {
  --width: 284px !important;
}

.collabpopup .popover-content.sc-ion-popover-ios {
  --width: 284px !important;
}



//Special scss below

.viewcardoption .popover-content.sc-ion-popover-ios {
  left: 213px !important;
}

.viewcardoption .popover-content.sc-ion-popover-md {
  left: 232px !important;
}


//walkhru css below

.walkthrough-hole-glow {
  position: absolute;
  outline: none;
  border: 2px solid #FFFF66 !important;
  box-shadow: 0 0 36px #FFFF66 !important;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.walkthrough-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: initial;
  text-align: center;
  -webkit-transition: height 0s ease-out .2s, opacity .2s ease-out;
  -moz-transition: height 0s ease-out .2s, opacity .2s ease-out;
  -o-transition: height 0s ease-out .2s, opacity .2s ease-out;
  transition: height 0s ease-out .2s, opacity .2s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  z-index: 1000;
}

.walkthrough-hole {
  position: absolute;
  -moz-box-shadow: 0 0 0 1997px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 0 1997px rgba(0, 0, 0, .8);
  box-shadow: 0 0 0 1997px rgba(0, 0, 0, .8);
  -webkit-appearance: none;
}

.walkthrough-element.walkthrough-text {
  margin-top: 10%;
  width: 50%;
  color: #fff;
  text-align: center;
}

.walkthrough-element.walkthrough-done-button {
  position: absolute;
  bottom: 30px;
  height: 30px;
  width: 80px;
  display: inline-block;
  right: 30px;
  margin: 0 auto;
}

.walkthrough-button-positive {
  border-color: #0c63ee;
  background-color: #387ef5;
  color: #fff;
}

.walkthrough-button-positive:hover {
  color: #fff;
  text-decoration: none;
}

.walkthrough-button-positive.active {
  border-color: #0c63ee;
  background-color: #0c63ee;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.walkthrough-element.walkthrough-icon {
  height: 200px;
}

.walkthrough-element.walkthrough-arrow {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.walkthrough-element {
  z-index: 1001;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.walkthrough-background.walkthrough-active {
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;

  opacity: 1;
  height: 100%;
  pointer-events: all;
}

.walkthrough-transclude {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.walkthrough-hole-round {
  border-radius: 200px;
}

.walkthrough-tip-text-box {
  /*top: 128px;*/
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  border: 2px solid;
  border-radius: 35px;
  padding: 14px;
  word-break: break-all !important;
  /*margin-top: 0;*/
  /*margin-bottom: 0;*/
}

.walkthrough-container {
  float: left;
  position: relative;
  height: 100%;
  width: 100%;
}

.walkthrough-inner {
  position: fixed;
  z-index: 3;
  width: 100%;
}

.walkthrough-container-transparency>.walkthrough-inner {
  height: 100%;
}

.walkthrough-text-container {
  position: absolute;
  width: 100%;
}

.walkthrough-container-tip .walkthrough-top,
.walkthrough-container-transparency .walkthrough-top {
  top: 15px;
}

.walkthrough-container-tip .walkthrough-bottom {
  bottom: 0;
}

/* take 'done' button into consideration */
.walkthrough-container-transparency .walkthrough-bottom {
  bottom: 70px;
}

.walkthrough-tip-icon-image-front {
  z-index: 1002;
}

.walkthrough-tip-icon-image-back {
  z-index: 999;
}

.walkthrough-tip-icon-text-box {
  height: 142px;
  /*right: 9%;*/
  position: relative;
  margin-bottom: -32px;
  margin-right: -250px;
  /*bottom: 70px;*/
}

.walkthrough-tip-done-button-text-box {
  /*top: 109px;*/
  /*bottom: 59px;*/
  position: relative;
  z-index: 1002;
  /*right: -7px;*/
  margin-top: 107px;
  background-color: transparent;
  border: 0;
  float: right;
}

.walkthrough-tip-done-button-no-icon {
  margin-top: -13px !important;
}

.walkthrough-tip-button-image-text-box {
  width: 42px;
  height: 42px;
}

.walkthrough-tip-text-box-color-black {
  border-color: #ffffff;
  background-color: #000000;
  color: #ffffff;
}

.walkthrough-tip-text-box-color-white {
  border-color: #000000;
  background-color: #ffffff;

}

.walkthrough-hero-image {
  margin-top: 15px;
}

.footer-md::before {
  background-image: none !important;
}

.alertModal {
  width: 70% !important;
  height: 50%;
  --border-radius: 8px;
}

.details-class {
  --width: 70%;
  // --height: 100%;
  // --border-radius: 8px;
}

// .custom-modal-alert .modal-wrapper .ion-page {
//   position: relative;
//   display: contents;
// }

ion-modal.auto-height {
  &.bottom {
    align-items: flex-end;
  }

  --height: auto;
  --width: 75%;
  --padding: 0 30px;
  --border-radius: 10px;


  .ion-page {
    position: relative;
    display: block;
    contain: content;

    .inner-content {
      max-height: 80vh;
      overflow: auto;
      padding: 10px;
    }
  }
}



.auto-height-country {
  --width: 85% !important;
  --height: 75%;
  --border-radius: 8px;
}

.auto-height-qrprofile {
  --width: 85% !important;
  --height: 50%;
  --border-radius: 8px;
}

@media (max-height: 1025px) and (max-width: 1367px) {
  .auto-height-qrprofile {
    --width: 85% !important;
    --height: 90%;
    --border-radius: 8px;
  }
}

@media (max-height: 1025px) and (max-width: 769px) {
  .auto-height-qrprofile {
    --width: 85% !important;
    --height: 80%;
    --border-radius: 8px;
  }
}

@media (max-height: 824px) and (max-width: 412px) {
  .auto-height-qrprofile {
    --width: 85% !important;
    --height: 60%;
    --border-radius: 8px;
  }
}

@media (max-height: 668px) and (max-width: 380px) {
  .auto-height-qrprofile {
    --width: 85% !important;
    --height: 65%;
    --border-radius: 8px;
  }
}

@media (max-height: 737px) and (max-width: 414px) {
  .auto-height-qrprofile {
    --width: 85% !important;
    --height: 70%;
    --border-radius: 8px;
  }
}

@media only screen and (max-width: 360px) {
  .auto-height-qrprofile {
    --width: 85% !important;
    --height: 70%;
    --border-radius: 8px;
  }
}

// ion-modal.auto-height-country {
//   &.bottom {
//       align-items: flex-end;
//   }

//   --height: 70%;
//   --width: 75%;
//   --padding: 0 30px;
//   --border-radius: 10px;


//   .ion-page {
//       position: relative;
//       display: block;
//       contain: content;

//       .inner-content {
//           max-height: 80vh;
//           overflow: auto;
//           padding: 10px;
//       }
//   }
// }
