<ion-header>
  <ion-toolbar class="ion-toolbar-mod" style="--background: #fdf0e0 !important">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #F19438;"></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col size="10" class="ion-text-center">
        <ion-title style="color: #F19438;">Home</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: white;">
  <img style="padding: 10px 10px 0 10px;" src="/assets/map.PNG" width="">
  <p style="text-align:center;font-weight: 200;font-size: 15px; margin: 0px; color: #969696;">
    Map of UiTM Shah Alam
  </p>

  <ion-card style="background-color: #fdf0e0;">
    <ion-card-header>
      <ion-card-subtitle style="color: #969696;">Did You Know?</ion-card-subtitle>
      <ion-card-title style="color: #F19438;">EAC is </ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: #969696;">
      <p>Energy Accounting Centre which is studying of existing data or information regarding energy consumption for each area, equipment, or system. </p>
      <br>
      <p>While <strong>EEI</strong> stands for Energy Efficiency Index which is one of the Key Performance Indicators (KPI) to track the performance of energy
        consumption.</p>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-tab-bar slot="bottom" style="--border: 0;">

  <ion-tab-button tab="schedule" (click)="goHome()">
    <ion-icon style="color: #F19438;font-size: 23px;" (click)="goHome()" name="home-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="about" (click)="goHistory()">
    <ion-icon style="color: #F19438;font-size: 23px;" (click)="goHistory()" name="albums-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>